.vscode/
algorithms/tpm_benchmark
power/main.o
power/src/exp_functions.o
power/src/exp_globals.o
power/src/tpm_functions.o
power/src/utility_functions.o
power/tpm_server
trace/CMakeCache.txt
trace/CMakeFiles/
trace/Makefile
trace/cmake_install.cmake
trace/libtpm_trace.so
model/data_treatment/__pycache__/
model/learning/__pycache__/
model/plot/__pycache__/
